.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.button {
    outline:none;
    border:none;
    background:none;
    font-weight:bold;
}

.selected {
    outline:black;
    border:none;
    background:none;
    font-weight:bold;
}

.element:hover {
    background:gray;
}
.row:hover {
    background:lightgray;
}

.scrollable {
    align:center;
    height:500px;
    overflow:scroll;
}
