.table {
    height:100%;
    overflow:scroll;
}
.table th {
    position:sticky;
    top:0;
    background:#0F0F23;
}

/* .tbody { */
/*     flex-grow:1; */
/*     overflow-y:scroll; */
/* } */

.button, .selected {
    background:none;
    color: #ffff66;
    font-size:large;
    outline:none;
    border:none;
    box-shadow:none;
}

.selected {
    background:rgba(119,119,165,.5);
    border-radius: 3px;
}

.highlightable:hover {
    background:rgba(119,119,165,1);
}

.problemLink {
    display:block;
    text-decoration:none;
    color: inherit;
}
